version: "3.9"
name: calltree

services:
  calltree:
    container_name: calltree
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    volumes:
      # Mount SSH Keys as readonly
      - ~/.ssh:/root/.ssh:ro
      # Mount gitconfig
      - ~/.gitconfig:/root/.gitconfig:ro
      - ..:/workspace:cached
    working_dir: /workspace
    tty: true
    environment:
      - GO111MODULE=on
  calltree-exec:
    build:
      context: ..
      dockerfile: docker/Dockerfile.prd
    working_dir: /app
    stdin_open: true
    tty: true
